<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Diabetic Patient Care Chatbot</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
 
  
<h1><bold>Diabetic Patient Care</bold></h1>
<h2>Welcome to ChatBot</h2>
<p1>Hello and welcome to our AI Chatbot. Please enter the symptoms you are feeling, our
  chatbot will help you as well as guide you with the severity and category of the diabetes you might 
  have, and will also assist you with medications and further steps that are needed to be taken.
  <br>Disclaimer: The chatbot is for professional use, kindly do as instructed to get seamless experience, do not play with chatbot.</br>
<br>
  Please type "Hello" to start Chatting.</br>
</p1>
<div class="container-fluid h-100">
  <div class="row justify-content-center h-100">		
    <div class="col-md-8 col-xl-6 chat">
      <div class="card">
        <div class="card-header msg_head">
          <div class="d-flex bd-highlight">
            
            <div class="user_info">
              <span>ChatBot</span>
              <p>Ask me anything!</p>
            </div>
          </div>
        </div>
        <div id="messageFormeight" class="card-body msg_card_body">
          
          
        </div>
        <div class="card-footer">
          <form id="messageArea" class="input-group">
                            <input type="text" id="text" name="msg" placeholder="Type your message..." autocomplete="off" class="form-control type_msg" required/>
            <div class="input-group-append">
              <button type="submit" id="send" class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
    <!-- Section displaying questions -->
    <div class="col-md-8 col-xl-6">
      <h3>Questions and suggestions</h3>
      <p2>These are few questions whose answers you should know, as it will help the chatbot to know properly about
        you and symptoms (if any) you might be feeling, which will result in better suggestion and assistance. 
      </p2>
      <ol>
          <li>How old are you?</li>
        <li>What is your gender?</li>
        <li>What is your glucose level?</li>
        <li>What is your insulin level?</li>
        <li>Do you have a family history of diabetes?</li>
        <li>Have you been diagnosed with gestational diabetes during pregnancy (if applicable)?</li>
        <li>How often do you feel thirsty?</li>
        <li>Do you experience frequent urination?</li>
        <li>What is your Body Mass Index (BMI)</li>
        <li>What is your Blood Pressure (BP)</li>
        <li>Do you have any wounds or cuts that are slow to heal?</li>
        <li>Do you know your skin thickness?</li>
        <li>The chatbot will provide you the information about Type 1 or Type 2 diabetes, what should be your diet, routine, medications etc based on your inputs.</li>
        <li>Also It will tell you whether your glucose, bmi, insulin, blood pressure, bmi is high, low or normal, and will suggest you what to do in each situation.</li>
      </ol>
    </div>
  </div> 
</div>
<!-- <script>
  $(document).ready(function() {
    // Function to scroll to the bottom of the chat window
    function scrollToBottom() {
      var chatWindow = $("#messageFormeight");
      chatWindow.scrollTop(chatWindow[0].scrollHeight);
    }

    $("#messageArea").on("submit", function(event) {
      event.preventDefault(); // Prevent form submission

      const date = new Date();
      const hour = date.getHours();
      const minute = date.getMinutes();
      const str_time = hour + ":" + (minute < 10 ? "0" + minute : minute);

      var rawText = $("#text").val();

      var userHtml = 
        '<div class="d-flex justify-content-end mb-4">' +
        '<div class="msg_cotainer_send">' + rawText + 
        '<span class="msg_time_send">' + str_time + '</span>' +
        '</div>' +
        '<div class="img_cont_msg">' +
        '<img src="https://i.ibb.co/d5b84Xw/Untitled-design.png" class="rounded-circle user_img_msg">' +
        '</div>' +
        '</div>';

      $("#text").val("");
      $("#messageFormeight").append(userHtml);

      scrollToBottom(); // Auto-scroll after adding the user message

      $.ajax({
        data: { msg: rawText },
        type: "POST",
        url: "/get",
      }).done(function(data) {
        var botHtml = 
          '<div class="d-flex justify-content-start mb-4">' +
          '<div class="img_cont_msg">' +
          '<img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg">' +
          '</div>' +
          '<div class="msg_cotainer">' + data + 
          '<span class="msg_time">' + str_time + '</span>' +
          '</div>' +
          '</div>';

        $("#messageFormeight").append($.parseHTML(botHtml));

        scrollToBottom(); // Auto-scroll after adding the bot message
      });
    });
  });
</script> -->


</body>
</html>